header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    padding-bottom: 0px;
    padding: 16px;
    background-color: bisque;
}

.nav-logo{
    height: 30px;
    width: 150px;
}

.link{
    text-decoration: none;
    font-size: 20px;
    color: green;
}

nav{
    display: flex;
    align-items: center;
    gap: 24px;
}

.nav-btn{
    background-color: transparent;
    border: none;
}

select{
    outline: none;
    border: none;
    font-size: 24px;
    margin-top: 2px;
    color: green;
    background-color: transparent;
}

.underline{
    text-decoration: underline;
    text-decoration-color: aqua;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}
