.emotion-container{
    padding: 32px;
}

.emotion-def-container{
    background-color: #f9f9f9;
    border-left: 6px solid orangered;
    padding: 3px 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.emotion-def-container p:hover{
    color: #2a528f;
}

.emotion-def-container:hover{
    transform: scale(0.98);
}

.question-section{
    border: 2px solid #f9f9f9;
    margin-top: 42px;
}

.question-title{
    background-color: #2a528f;
    color: #fff;
    padding: 10px;
    margin-top: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.qna-card{
    border: 1px solid #eee;
    border-radius: 9px 9px 9px 0;
    background: #f7f4f4;
    padding: 24px;
    margin: 20px;
}

.qna-card:hover{
    transform: scale(0.98);
}

.qna-card h2{
    font-size: 24px;
}