.addiction-container{
    display: flex;
    align-items: center;
    gap: 36px;
    padding: 36px;
    background-image: url('https://i.pinimg.com/originals/2b/25/b1/2b25b18586ac53d49285daf830c1461f.png');
    background-size: cover;
    height: 80vh;

}

.addiction-content-container{
    width: 45%;
}

.alc-image{
    width: 550px;
    height: 300px;
    opacity: 0.8;
}