.addiction-container{
    background-image: url(https://img.freepik.com/free-photo/single-glass-red-wine-warm-light-cozy-bar_157027-4243.jpg?t=st=1728294815~exp=1728298415~hmac=7aaaf90f7e570921ca22bea098fe51f9de2adb69fd0faa02e6d2886aee15d91d&w=1480);
    background-size: cover;
    height: 90vh;
    opacity: 0.9;
}