footer{
    background-color: rgb(56, 50, 50);
    margin-top: 36px;
    width: 100%;
}

footer:hover{
    transform: scale(0.98);
}

.footer-detail-section{
    display: flex;
    justify-content: space-around;
}

.links li{
    margin-top: 10px;
}

.copyright{
    text-align: center;
    font-size: 24px;
    margin-top: 0px;
}

h3{
    font-size: 30px;
}