
.home-container{
    background-image: url('../Assets/banner-1.jpg');
    background-size: cover;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    padding: 50px;
}

h1{
    font-size: 46px;
}
p{
    font-size: 24px;
}

.relax-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.consent-container{
    background-color: rgb(240, 230, 230);
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-self: flex-end;
    padding: 24px;
    color: black;
    position: relative;
    padding-bottom: 32px;
    margin-top: 40px;

}

.btn-container{
    display: flex;
    align-items: center;
    gap: 36px;
}

.btn{
    border: 2px solid #d56603;
    border-radius: 16px;
    background-color: transparent;
    font-size: 16px;
    padding: 6px 20px 6px 20px;
}

.consent-heading{
    color: #d56603;
}